<div class="container">
    
    
    <ul>
        <li class="logo-li"><img class="logo" src="https://m.media-amazon.com/images/G/01/digital/video/web/logo-min-remaster.png" alt="logo" width="130px" height="25px"></li>
        <li>Home</li>
        <li>Movies</li>
        <li>TV Shows</li>
        <li>Sports</li>
        <li class="linea">Live TV</li>
        <div class="division"></div>
        <li class="prime"><img src="https://m.media-amazon.com/images/G/01/digital/video/merch/subs/benefit-id/m-r/Prime/logos/channels-logo-white._CB554929912_.png" alt="prime" width="80" height="50"></li>
        <li>Subscriptions</li>
    </ul>

    <ul class="menu">
        <li class="round"><img class="icon" src="lupa2.png"  alt="buscar" width="30px"></li>
        <li class="lang">En</li>
        <li class="round"><img class="icon2" src="menu.png" alt="no se ve " width="30px"></li>
        <li class="round circle"><img class="usuario" src="https://i.pinimg.com/originals/f3/d1/ed/f3d1edf10d63c40e1fa06364176fa502.png" alt="usuario" width="40px"></li>
        <li class="logo-li"><button mat-flat-button >Join Prime</button></li>

    </ul>
   
    
</div>
