.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 20rem;
}
.links{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap:2rem;
    font-size: 15pt;
    font-family: "Roboto";
}
.links a{
    text-decoration: none;
    color: rgb(95, 147, 243);
}