<app-header></app-header>
<app-carousel></app-carousel>

<div class="content">
    <h2>TOP 10</h2>
    <app-grid></app-grid>
    
</div>


<div class="content">
    <h2>Peliculas</h2>
    <app-gridpeli></app-gridpeli>

    
</div>

<div class="content">
    <h2>Series</h2>
    <app-gridseries></app-gridseries>

    
</div>

<div class="content">
    <h2>Documentales</h2>
    <app-griddoc></app-griddoc>

    
</div>
<div class="content">
    <h2>Terror</h2>
    <app-gridterror></app-gridterror>

    
</div>
<app-footer></app-footer>
