.container{
    display: grid;
    place-items: center;
    place-content: center;
}
input{
    border-radius: 5%;
    width: 700px;
    height: 100px;
    font-size: 25pt;
    font-family: "Roboto";
    text-align: center;
}